body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #ccc;
}
.box {
  width: 150px;
  background-color: red;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  border: 5px solid black;
  /*outline-width: 10px;
  outline-color: blue;
  outline-style: solid;
  outline-offset: 10px;*/
  /*outline: 5px solid black*/
}
.box:hover {
  outline: 10px solid blue;
}

input {
  margin: 50px;
  border: none;
  border-top: 3px solid black;
  padding: 6px;
}
input:focus {
  border-color: blue;
  color: blue;
}
input:focus-visible {
  outline: none;
}
